
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    margin-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.container {
    width: auto;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}

.single-content {
    background-color: #eee;
    border-radius: 7px;
    padding: 9px;
}

.item-icon {
    font-size: 70px;
    color: #18bc9c;
}

.baner {
    padding-top: 30px;
    padding-bottom: 30px;
}

#link-contato {
    margin-left: 20px;
}
